@using NonFactors.Mvc.Grid;

@model IGridPager

<div class="mvc-grid-pager @Model.CssClasses">
    <input class="mvc-grid-pager-rows" type="hidden" value="@Model.RowsPerPage" />
    @if (Model.TotalPages > 1)
    {
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li data-page="1"><span>&laquo;</span></li>
                <li data-page="@(Model.CurrentPage - 1)"><span>&lsaquo;</span></li>
            }
            else
            {
                <li class="disabled"><span>&laquo;</span></li>
                <li class="disabled"><span>&lsaquo;</span></li>
            }
            @for (Int32 page = Model.FirstDisplayPage; page <= Model.TotalPages && page < Model.FirstDisplayPage + Model.PagesToDisplay; page++)
            {
                if (page == Model.CurrentPage)
                {
                    <li class="active" data-page="@page"><span>@page</span></li>
                }
                else
                {
                    <li data-page="@page"><span>@page</span></li>
                }
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li data-page="@(Model.CurrentPage + 1)"><span>&rsaquo;</span></li>
                <li data-page="@(Model.TotalPages)"><span>&raquo;</span></li>
            }
            else
            {
                <li class="disabled"><span>&rsaquo;</span></li>
                <li class="disabled"><span>&raquo;</span></li>
            }
        </ul>
    }
</div>
